# Disable MultiViews, If this is not turned off it may cause
# the redirection of /deploy to go to /deploy.php
Options -MultiViews

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Deny access to config.php
<Files config.php>
	Order Allow,Deny
	Deny from all
</Files>